.button-action {
    @apply bg-primary-500 hover:bg-primary-600 shadow-primary-500/30 block w-full cursor-pointer rounded-lg px-5 py-3 text-center font-semibold text-white shadow-lg transition-all;
}

.button-action--sm {
    @apply px-4 py-2 text-sm;
}
