@import "tailwindcss";
@source "../";

@theme {
    --color-brand-50: #f0f9ff;
    --color-brand-100: #e0f2fe;
    --color-brand-200: #bae6fd;
    --color-brand-300: #7dd3fc;
    --color-brand-400: #38bdf8;
    --color-brand-500: #0ea5e9;
    --color-brand-600: #0284c7;
    --color-brand-700: #0369a1;
    --color-brand-800: #075985;
    --color-brand-900: #0c4a6e;
    --color-brand-950: #082f49;
    --color-slate-850: #1e293b;
    --font-sans: Poppins, sans-serif;

    /* breakpoints */
    --breakpoint-*: initial;
    --breakpoint-xs: 340px;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
}

@custom-variant letterbox (@media (max-height: 750px) and (min-width: 900px));
/* @custom-variant landscape (@media (max-height: 780px) and (min-width: 900px)); */


.container{
	@apply mx-auto px-30 sm:px-40 max-sm:!max-w-none;
}
